#outer
 #inner
   #logo
     img(src="./static/img/logo.png")
     h3!="Node Rocket Rocks."
     br
     textarea#console
     :form_tag(route=/)
        this.text_field_tag('msg')
        this.submit_tag('submit')