!!! html
//if lt IE 7
  <html class="no-js ie6 oldie" lang="en">
//if IE 7
  <html class="no-js ie7 oldie" lang="en">
//if IE 8
  <html class="no-js ie8 oldie" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    
    title
    meta(name='description', content='')
    meta(name='author', content='')
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel='stylesheet', href='css/style.css')
    
    //-- { Rocket.js JS Header} -----------------
    - if (typeof boot_options === 'undefined')
       !=rocket.header(controller)
    - else
       !=rocket.header(controller, boot_options)
    //-------------------------------------------
    
  body
    #container
      header
      #main(role='main')
        !=body
      footer

    //-- { Rocket.js JS Footer} -----------------
    - if (typeof boot_options === 'undefined')
       !=rocket.footer(controller)
    - else
       !=rocket.footer(controller, boot_options)
    //-------------------------------------------
    
    script
      window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
      
        
    //if lt IE 7
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js', defer)
      script(defer) window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})