!='<!doctype html>\n'
//- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ 
!='<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->\n'
!='<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->\n'
!='<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->\n'
!='<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->\n'
!='\n'
head
  meta(charset="utf-8")
  
  //- Always force latest IE rendering engine (even in intranet) & Chrome Frame
  //- Remove this if you use the .htaccess
  !='<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >'
  
  -if (typeof(title) != "undefined" && title !=null)
    title= title + '- Rocket'
  -else
    title= 'RocketJS: The rapid development framework for node.js/couchDB web apps.'

  meta(name="description", content="")
  meta(name="author", content="")
  
  //- Mobile viewport optimized: j.mp/bplateviewport
  !='<meta name="viewport" content="width=device-width, initial-scale=1.0">' 
  
  //- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references  
  link(rel="shortcut icon", href="/static/favicon.ico") 
  link(rel="apple-touch-icon", href="/static/apple-touch-icon.png")
  link(rel="stylesheet",type="text/css",href="/static/css/style.css?v=2")

  // link(rel="stylesheet", media="handheld", href="/static/css//handheld.css?v=2")
  
  //- All JavaScript at the bottom, except for Modernizr &  docReady array
  
  script(src="/static/js/libs/modernizr-1.7.min.js")

body
  div!=body
  //- Javascript at the bottom for fast page loading
    
  //- Grab JQuery Tools CDN's jQuery. fall back to local if necessary
  script(src="/browserify.js")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
  
  !="<script> window.jQuery || require('./jquery-1.6.1.min.js') </script>"

  -if (typeof controller !== 'undefined')
    !="<script>"
    !="var boot_options, Bootstrapper = require('./bootstrappers/" + controller + "_bootstrapper');"
    -if (typeof boot_options != 'undefined' && boot_options != null)
      !="boot_options = " + JSON.stringify(boot_options) + ";"
    !="Bootstrapper.bootstrap(boot_options);"
    !="</script>"

  /if lt IE 7
    script(type="text/javascript")
      require("./libs/dd_belatedpng.js");
      DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images
  
  // asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet change the UA-XXXXX-X to be your site's ID 
  
  script(type='text/javascript')
    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
    (function(d, t) {
      var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
    })(document, 'script');

!="</html>"
